td {
  .nowrap {
    white-space: nowrap;
  }
  a.task-is-started {
    // 着手中のタスクは太字にする
    font-weight: bold;
  }
  a.task-is-finished {
    // 完了したタスクには二重取り消し線を引く
    text-decoration: line-through double;
  }
}

nav.pagy-bootstrap-combo-nav-js {
  justify-content: center;
  margin: 1em 0;
}
